# Enable URL rewriting
RewriteEngine On

# Redirect all requests to the index.html for Next.js to handle routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Custom 404 page
ErrorDocument 404 /404.html
